.grid {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    max-width: 500px;
    margin-bottom: 50px;
}



.grid a {
    text-decoration: none;
    font-size: 16px;
    background-color: #ffffff;
    color: #0f0f0f;
    border: 2px solid #0f0f0f;
    border-radius: 50px;
    transition: all .25s;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.grid a:hover, .grid a:active {
    background-color: #0f0f0f;
    color: white;
}

.not-found {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found h2 {
    color: #0f0f0f;
    border-bottom: 4px solid #0f0f0f;
    display: inline-block;
}

.paper-name {
    text-align: center;
    color: #0f0f0f;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.paperName,
.urduDate {
    font-family: 'Noto Nastaliq Urdu', serif;
    text-align: center;
    color: "#0f0f0f"
}

.date {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 5px;
}

.date div {
    font-weight: bold;
    background-color: #0f0f0f;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 5px 20px 5px 10px;
}

.date div input {
    font-weight: bold;
}

.urduDate {
    color: red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}

.date p {
    width: 200px;
} 

@media only screen and (min-device-width: 750px) {
    .grid {
        grid-template-columns: repeat(3, 45%);
    }

    .grid a {
        font-size: 18px;
    }
}



@media only screen and (max-device-width: 600px) {
    .date p {
        display: none;
    }
}


@media only screen and (max-device-width: 480px) {
    .urduDate {
        font-size: 14px;
    }
    .paperName {
        font-size: 16px;
    }
    .date {
        margin-top: -30px !important;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .date div {
        width: 94vw;
        display: flex;
        border-radius: 2px;
        justify-content: space-between;
        align-items:center;
        padding: 7px;
        margin-bottom: 8px;
    }
}

input, input::before, input::after {
    outline: 0;
    border: 0;
    padding: 3px;
}



::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-year-field {
    color:red;
}

.msg h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    text-align: center;
    font-weight: normal;
    color: red;
    font-family: 'Noto Nastaliq Urdu', serif;
}
